

body {
  background-image: url(../Images/Colloseum-background.png);
  background-size: cover;
  min-height: 200px;
  
}

.image-resize-smallSize {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img-resize-mediumSize {
  width: 300px;
  height: 350px;
}

.menu-layout {
    max-width: 900px;
    margin: 40px 0;
    display: grid;
    width: 20%;
    grid-template-columns: 10px 1fr;
    align-items: stretch;
}

.menu-layout .img-menu {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.side-menu {
    display: flex;
    flex-direction: column;
    width:200px; 
}

.menu-buttons {
    padding: 20px 16px;
    text-align: left;
    border: 1px solid #333333;
    border-bottom: none;
    background-color:red;
    font: inherit;
    cursor: pointer;
    position: relative;
}

.menu-buttons.is-current {
  background-color: #333;
}

.menu-buttons::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -26px;
    width: 25px;

    background-color: red;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;

    clip-path: polygon(0 0, 100% 50%, 0 100%);
    opacity: 0;
    transform: translateX(-4px);
    transition: opacity 0.15s ease,
                transform 0.15s ease;
}

.menu-buttons:hover::after {
    opacity: 1;
    transform: translateX(0);
}

.menu-buttons:last-child {
    border-bottom: 1px solid #333333;
}
  

/* .img-menu {
    flex: 1;
    
    border:none;
    display: flex;
    
    /* align-items: center;
    justify-content: center; */
    /* height: 100%;
    
}  */

.menu-preview {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    height: 405%;
    width: 130%;
}

.menu-buttons:hover .menu-preview,
.menu-buttons:focus-visible .menu-preview {
  display: block;
}




.menu-toggle {
  display: none;
}

@media(max-width: 980px) {
  .menu-layout {
    position: relative;
    
  }

  .menu-toggle {
    position: fixed;
    display: block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    z-index: 200;
  }

  .side-menu {
    display: none !important;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 200px;
    background: white;
    border: 1px solid #333;
    /* display: none; */
    z-index: 100;
  }

  .menu-layout.menu-open .side-menu {
    display: block;
  }

}

.img-grayEffect {
  filter: grayscale(100%);
  transition: filter 1s ease-in-out;
}

.img-grayEffect:hover {
  filter: grayscale(0%);
}

