body {
    background-color: white;
}

.title {
    font-size: 60px;
}
#container > button{
    width: 15%;
    height: 10%;
    position: relative;
    top: 70%;
    left: 0%;
    background-color: grey;
}